/**
 * White Blank Page
 * core.styl
 * Raymond Jacobson 2015
 */

// DEFINITIONS

// PATTERNS
reduce()
  border none
  outline none
  box-shadow none
  resize none
  overflow auto


// GLOBAL CSS
body
  font-family 'Inconsolata'
  font-size 13px

textarea#main
  height 100%
  width 100%
  reduce()

  padding 2%